<div class="row">
    <div class="col-md-4 above-table">
        <%= image_tag("user_#{@current_user.id}", size: "140x140", alt: "profile pic") %>
    </div>
    <div class="col-md-5 above-table"></div>
    <div class="col-md-3 above-table">
        <h3><%= @current_user.formatted_name %></h3>

        <button type="button" class="btn btn-default" id="create-report">Create Report</button>

    </div>
</div>