<% if @current_user == user %>
	<div class="panel-body name" id ="selected"><%= user.name %></div>
<% else %>
	<a href="/?id=<%= user.id %>"><div class="panel-body name"><%= user.name %></div></a>
<% end %>