<div class="col-md-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Project Members</h3>
        </div>
        <% users.each do |user| %>
            <%= render "index", :user => user %>
        <% end %>
    </div>
</div>