<div class="container-fluid">
    <%= render "header" %>        
    <div class="row" id="main-body">
        <%= render "project_members", :users => @users %>
        <div class="col-md-10">
            <%= render "above_table" %>
            <%= render "table", :current_user => @current_user %>
        </div>
    </div>
</div>